<div class="center">
  <h1>Récapitulatif</h1>
  <div class="eligible" *ngIf="isEligible && effyHelp > 0">
    <p>Merci, {{ recap['gender'] }} {{recap['lastname']}} {{recap['firstname']}}</p>
    <p>Le coût du projet équivaut à {{cost}} euros</p>
    <span class="bravo">
      Félicitations, votre éligibilité à notre programme d’aides et d’accompagnement.
    </span>
  </div>
  <div class="not-eligible" *ngIf="!isEligible() || effyHelp < 0">
    <p>Désolé, vous n'êtes pas éligible pour ce projet</p>
  </div>
</div>
