.center{
  align-items: center;
  display: flex;
  height: calc(100vh - 60px);
  justify-content: center;
  width: 100%;
  .main-content{
    background: white;
    border-radius: 20px;
    box-sizing: border-box;
    height: 80%;
    padding: 34px;
    width: 60%;
  }
}
