<mat-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Informations personnelles</ng-template>
      <div class="form-fields">
        <div>
          <label>Civilité </label>
          <mat-radio-group formControlName="gender">
            <mat-radio-button value="Mr">Mr</mat-radio-button>
            <mat-radio-button value="Mlle">Mlle</mat-radio-button>
            <mat-radio-button value="Mme">Mme</mat-radio-button>
          </mat-radio-group>
        </div>
        <mat-form-field appearance="fill">
          <mat-label>Nom</mat-label>
          <input matInput placeholder="Nom" formControlName="lastname" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Prénom</mat-label>
          <input matInput placeholder="Prénom" formControlName="firstname" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" required>
          <mat-error *ngIf="email?.invalid">Veuillez insérer un email valide</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Téléphone</mat-label>
          <input matInput placeholder="Téléphone" formControlName="phone" required>
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Informations du projet">
    <form [formGroup]="secondFormGroup">
      <div class="form-fields">
        <div>
          <label>Êtes-vous propriétaire ? </label>
          <mat-radio-group formControlName="owner">
            <mat-radio-button value="true">Oui</mat-radio-button>
            <mat-radio-button value="false">Non</mat-radio-button>
          </mat-radio-group>
        </div>
        <mat-form-field appearance="fill">
          <mat-label>Nombre de personnes dans le foyer</mat-label>
          <input matInput type="number" formControlName="resident">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Les revenus du foyer (entre 10k et 100k)</mat-label>
          <input matInput type="number" formControlName="income">
          <span matSuffix>k</span>
          <mat-error *ngIf="income?.invalid">10k minimum ou 100k maximum</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Surface en m2</mat-label>
          <input matInput type="number" formControlName="surface">
          <span matSuffix>m2</span>
        </mat-form-field>
        <div class="buttons">
          <button mat-raised-button matStepperPrevious>Back</button>
          <button mat-raised-button matStepperNext>Next</button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Récapitulatif</ng-template>
    <div class="content-center">
      <button mat-raised-button color="primary" (click)="goToRecap()">Voir le récapitulatif</button>
    </div>
    <div class="buttons">
      <button mat-raised-button matStepperPrevious>Back</button>
      <button mat-raised-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
