form{
  .form-fields{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    > div{
      display: flex;
      flex-direction: column;
      label, mat-radio-group{
        margin-bottom: 20px;
        .mat-radio-button{
          margin-right: 20px;
        }
      }
    }
  }
}

.buttons{
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  width: 100%;
}

.content-center{
  text-align: center;
  button{
    margin: 50px 0;
  }
}
